#components-layout-demo-side .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #a8c1f8;
}

.ant-layout-footer{
  background: #7f9ef3 ;
}
